:root {
    --colorPrincipal: #eb1922;
    --colorFondo: #e5e5e5;
    --colorBoton: #008f39;
    --colorBotonHover: #00b448;
}

* {
    margin: 0;
    border: 0;
}

.color-Principal {
    background-color: var(--colorPrincipal);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bold-text {
    font-weight: bold;
}

.row {
    margin-bottom: 0;
}

.card-panel {
    padding: 20px;
}

nav {
    background-color: #ffffff;
    border-bottom: var(--colorPrincipal) solid 3px;
}

nav a {
    color: grey;
}

nav ul a {
    color: grey;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

nav .nav-wrapper {
    padding-right: 10px;
}

nav .nav-wrapper img {
    height: inherit;
}

.slider .indicators .indicator-item.active {
    background-color: var(--colorPrincipal);
}

.btn,
.btn-small,
button {
    background-color: var(--colorBoton);
}

.btn:hover,
.btn-small:hover,
button:hover {
    background-color: var(--colorBotonHover);
}

main {
    flex: 1 0 auto;
}

.pointer {
    cursor: pointer;
}

.autocomplete-content li img {
    display: none;
}

.modal {
    top: 1% !important;
    background: white;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}