:root {
    --colorPrincipal: #eb1922;
    --colorFondo: #fdfdfd;
    --colorBoton: #008f39;
    --colorBotonHover: #00b448;
    --colorLetra: #333;
}

* {
    margin: 0;
    border: 0;
}

.color-Principal {
    background-color: var(--colorPrincipal);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--colorFondo);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorLetra);
}

.bold-text {
    font-weight: bold;
}

.row {
    margin-bottom: 0;
}

.card-panel {
    padding: 20px;
}

nav:not(.pushpin-demo-nav) {
    background-color: #ffffff;
    border-bottom: var(--colorPrincipal) solid 3px;
}

nav a {
    color: grey;
}

nav ul a {
    color: var(--colorLetra) !important;
}

nav ul a:hover {
    color: var(--colorPrincipal);
}

.dropdown-content li.active,
nav ul li.active {
    background-color: var(--colorPrincipal);
}

.dropdown-content li.active a,
nav ul li.active {
    color: white !important;
}

.nav-wrapper ul li.active a,
nav ul a.active {
    color: var(--colorPrincipal) !important;
    font-size: 1.1rem;
    color: white !important;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

nav ul li img {
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 0.5s;
}

nav ul li img:hover {
    filter: grayscale(0);
}

nav .nav-wrapper {
    padding-right: 10px;
}

nav .nav-wrapper img.logo {
    height: 100%;
}

nav .nav-content {
    padding-bottom: 10px;
}

.slider .indicators .indicator-item.active {
    background-color: var(--colorPrincipal);
}

#slider_Categoria img {
    background-attachment: fixed;
}

#slider_Categoria .indicators {
    display: none;
}

.btn,
.btn-small,
button {
    background-color: var(--colorBoton);
}

.btn:hover,
.btn-small:hover,
button:hover {
    background-color: var(--colorBotonHover);
}

main {
    flex: 1 0 auto;
}

.pointer {
    cursor: pointer;
}

.autocomplete-content li img {
    display: none;
}

.modal {
    top: 1% !important;
    background: white;
}

#div_Productos .card .card-image img {
    height: 200px;
}

.card .card-image img {
    height: 230px;
}

.card .card-content .card-title {
    color: var(--colorLetra);
}

.card .card-title {
    font-size: 20px;
}

.collection a.collection-item {
    color: var(--colorLetra);
}

.collection .collection-item.active {
    background-color: var(--colorPrincipal);
    color: #eafaf9;
}

.collection a.collection-item:not(.active):hover {
    background-color: white !important;
}

.carousel .indicators .indicator-item {
    background-color: var(--colorPrincipal);
}

.carousel .indicators .indicator-item.active {
    background-color: #000000;
}

@media only screen and (max-width: 992px) {
    main {
        margin-top: 0px;
    }
    .card .card-image img {
        height: auto !important;
    }
    .container {
        width: 99%;
    }
}